.App {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.rewards-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    .rewards-table-head-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        .rewards-table-head-row-cell {
            width: 33.333333%;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            &:first-child {
                border-left: 2px solid black;
            }
        }
    }
}
