.App {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.rewards-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    .rewards-table-head-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        .rewards-table-head-row-cell {
            width: 33.333333%;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            &:first-child {
                border-left: 2px solid black;
            }
        }
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
